.footer_container{
    border-top: 1px solid #dee2e6;
    margin: 5em 0 0 0;
}
.footer{
    border: 1px solid black;
    
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
}
.footer_01{
    margin: 0 0 0 145px;
}