.Barra_horizontal{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-end;
    height: 100%;
}
.userInfo {
    padding-left: 35em;
}

.App-logo{
    margin:  3px auto;
}

.UserInfo {  
    display: flex;
    flex-direction: row;
}
.UserInfo div:first-child{
    margin: auto;
    padding: 0 10px;
}


@media (max-width: 1440px) {
    .userInfo {
        padding-left: 22em;
    }
    .App-logo{
        margin:  8px auto;
    }
    .UserInfo div:first-child{
        margin: auto;
    }
}